<!DOCTYPE html>
{% load staticfiles %}
<html>
<head >
<title> Services </title>

<link href= "{% static "css/AlphaDesign1.css" %}" rel="stylesheet"/>
</head>
<body>

<!-- Main Header with Navigation -->
<header class="header">

		<div class="logo"> <a href="/"><img src="{% static "images/delta.png"%}" width="50" height="50"></a> </div>

	<span class="right">
			<strong>
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="my_centered_buttons">
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_twitter"></a>
				<a class="a2a_button_google_plus"></a>
				<a class="a2a_button_pinterest"></a>
				<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
			</div>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			</strong>
	</span>

</header>

<div id="leftnav">
	<h1> <a href= "Initial Design.html">Alpha Designs </a> </h1>
	<ul id="navigation">
	<li><a id="link-customDev" href="#customDev"> How it Works </a></li>
	<li><a id="link-maintSupp" href="#maintSupp"> Maint &#38; Supp </a></li>
	<li><a id="link-testing" href="#testing"> Testing </a></li>
	</ul>
</div>

<!-- / End Navigation -->

<!-- How it Works Panel   -->
<div id="customDev" class="panel">
	<div class="content">
	<h4> How it Works </h4>
	<p> THis website was created for the intention of being used as a polling app for
    those who are looking to get together quickly.Simply answer what day of the Week
    you would like to get together.</p>
	<!-- Note this is what would go to the right of the bar on your design -->

	</div>
</div>
<!-- / Custom Development Panel -->


<!-- Maintenance and Support Panel -->
<div id="maintSupp" class="panel">
	<div class="content">
		<h4> Maintenance &#38; Support </h4>
		<p>Currently This site is under construction and is supported by one dev
      who is new to django. The main issues have been understading django and how
      to link certain properties to each other. </p>
	</div>
</div>
<!-- / Maintenace And Support Panel  -->

<!-- Testing Panel   -->
<div id="testing" class="panel">
	<div class="content">
		<h4> Testing  </h4>
		<p> As each change was made, it was tested for functionality before pushing
    to github. Certain sections were only done for testing to see if a method
  would work for this application. The end result is certain sections of the underlying
code going unused, due to lack of ability to implement completely. </p>
	</div>
</div>


<!-- Vertical line Here
<div class="vertical-line" />
 / vertical line-->



</body>
</html>
