<!DOCTYPE html>
{% load staticfiles %}
<html>
<head >
<title> Services </title>

<link href= "{% static "css/AlphaDesign1.css" %}" rel="stylesheet"/>
</head>
<body>

<!-- Main Header with Navigation -->
<header class="header">

		<div class="logo"> <a href="/"><img src="{% static "images/delta.png"%}" width="50" height="50"></a> </div>

	<span class="right">
			<strong>
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="my_centered_buttons">
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_twitter"></a>
				<a class="a2a_button_google_plus"></a>
				<a class="a2a_button_pinterest"></a>
				<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
			</div>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			</strong>
	</span>

</header>

<div id="leftnav">
	<h1> <a href= "Initial Design.html">Alpha Designs </a> </h1>
	<ul id="navigation">
	<li><a id="link-customDev" href="#customDev"> How it Works </a></li>
	<li><a id="link-maintSupp" href="#maintSupp"> Maint &#38; Supp </a></li>
	<li><a id="link-testing" href="#testing"> Testing </a></li>
	</ul>
</div>

<!-- / End Navigation -->

<!-- How it Works Panel   -->
<div id="customDev" class="panel">
	<div class="content">
	<h4> How it Works </h4>
	<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
	euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
	veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
	consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
	consequat, vel illum dolore eu feugiat nulla
	facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
	zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis
	eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
	<!-- Note this is what would go to the right of the bar on your design -->

	</div>
</div>
<!-- / Custom Development Panel -->


<!-- Maintenance and Support Panel -->
<div id="maintSupp" class="panel">
	<div class="content">
		<h4> Maintenance &#38; Support </h4>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
		aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
		exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
	consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
	esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
	eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
	zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor
	cum soluta nobis eleifend option congue nihil imperdiet doming id quod
	mazim placerat facer possim assum. </p>
	</div>
</div>
<!-- / Maintenace And Support Panel  -->

<!-- Testing Panel   -->
<div id="testing" class="panel">
	<div class="content">
		<h4> Testing  </h4>
		<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
		sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
		aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
		exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
	consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
	esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
	eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
	zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor
	cum soluta nobis eleifend option congue nihil imperdiet doming id quod
	mazim placerat facer possim assum.</p>
	</div>
</div>


<!-- Vertical line Here
<div class="vertical-line" />
 / vertical line-->



</body>
</html>
